In [1]:
import rdflib
import json

In [9]:
with open('cleaned_tweets.json','r') as jsonFile:
    data = json.load(jsonFile)

g = rdflib.Graph()

for i in range(len(data)):
    txt = data[i]
    try:
        s = rdflib.URIRef('http://localhost:8888/edit/Desktop/comp8210/assignment/ass2/cleaned_tweets.json' + txt['id'])
        p = rdflib.URIRef('http://localhost:8888/edit/Desktop/comp8210/assignment/ass2/cleaned_tweets.json' + txt['twitter_entities'])
        o = rdflib.URIRef('http://localhost:8888/edit/Desktop/comp8210/assignment/ass2/cleaned_tweets.json' + txt['actor'])
        g.add((s,p,o))
    except Exception as e:
        pass
g.serialize('data.rdf')

jsonFile.close()

In [2]:
with open('cleaned_tweets.json','r',encoding = 'UTF-8') as jsonFile:
    data = json.load(jsonFile)

In [6]:
import pandas as pd

df = pd.DataFrame(data)

In [7]:
df.head()

,id,objectType,actor,verb,postedTime,generator,provider,link,text,object,...,twitter_entities,twitter_filter_level,twitter_lang,retweetCount,gnip,twitter_extended_entities,inReplyTo,twitter_quoted_status,location,geo
0,149715690143449899009,activity,"{'objectType': 'person', 'id': '10243188921458...",post,2016-04-01T00:00:01.000Z,"{'displayName': 'Facebook', 'link': 'http://ww...","{'objectType': 'service', 'displayName': 'Twit...",http://twitter.com/losebabyweight1/statuses/71...,CONGRATULATIONS Suzie Walker on both your beau...,"{'objectType': 'note', 'id': '1345715690143449...",...,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",low,en,0,"{'matching_rules': [{'value': 'bio_location: ""...",NaN,NaN,NaN,NaN,NaN
1,149715690141306650624,activity,"{'objectType': 'person', 'id': '1024397578801'...",post,2016-04-01T00:00:01.000Z,"{'displayName': 'Weather Display Tweet', 'link...","{'objectType': 'service', 'displayName': 'Twit...",http://twitter.com/wantirnaweather/statuses/71...,"Wantirna, VIC, AU 11:00 AM Temp 19.8°C, RH 67p...","{'objectType': 'note', 'id': '1345715690141306...",...,"{'hashtags': [{'text': 'vicweather', 'indices'...",low,en,0,"{'matching_rules': [{'value': 'bio_location: ""...",NaN,NaN,NaN,NaN,NaN
2,149715690140849586178,activity,"{'objectType': 'person', 'id': '10243126525057...",post,2016-04-01T00:00:01.000Z,"{'displayName': 'Sprinklr', 'link': 'http://ww...","{'objectType': 'service', 'displayName': 'Twit...",http://twitter.com/sas_anz/statuses/7156901408...,Join us @ the Hilton Sydney 2 learn how 2 make...,"{'objectType': 'note', 'id': '1345715690140849...",...,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",low,en,0,"{'matching_rules': [{'value': 'bio_location: ""...","{'media': [{'id_str': '715690140442734594', 'i...",NaN,NaN,NaN,NaN
3,149715690148764258304,activity,"{'objectType': 'person', 'id': '10243295689843...",post,2016-04-01T00:00:03.000Z,"{'displayName': 'Facebook', 'link': 'http://ww...","{'objectType': 'service', 'displayName': 'Twit...",http://twitter.com/Letticlothing/statuses/7156...,Say Hello to this Gorgeous Gingham Dress! \n\n...,"{'objectType': 'note', 'id': '1345715690148764...",...,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",low,en,0,"{'matching_rules': [{'value': 'bio_location: ""...",NaN,NaN,NaN,NaN,NaN
4,149715690137900941312,activity,"{'objectType': 'person', 'id': '1024318064228'...",post,2016-04-01T00:00:00.000Z,"{'displayName': 'HubSpot', 'link': 'http://www...","{'objectType': 'service', 'displayName': 'Twit...",http://twitter.com/Intelledox/statuses/7156901...,Register for #Convergence2016 to hear@ChelleMe...,"{'objectType': 'note', 'id': '1345715690137900...",...,"{'hashtags': [{'text': 'Convergence2016', 'ind...",low,en,0,"{'matching_rules': [{'value': 'bio_location: ""...",NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_csv('test.csv',index=False)